%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/peptide/aggregateview"} View Peptides
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/protein/aggregateview"} View Proteins
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/dataset/aggregateview"} View Datasets
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/psms/aggregateview"} View PSMs
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/modification/list"} View Modifications

%form{:action => "/dataset/aggregateview", :method => "get"}
    .form-group
        %label{:for => "name"} Peptide
        %input.form-control{:type => "text", :name => "peptide", :class => "text", :value => ""}
        %p
        %label{:for => "aboutme"} Protein
        %input.form-control{:type => "text", :name => "protein", :class => "text", :value => "", :class => "dataset_protein_input"}
        %p
        %label{:for => "aboutme"} Modification
        %input.form-control{:type => "text", :name => "mod", :class => "text", :value => "", :class => "dataset_mod_input"}
    %input.btn.btn-default{:type => "submit", :value => "View Datasets"} 


%form{:action => "/peptide/aggregateview", :method => "get"}
    .form-group
        %label{:for => "name"} Peptide
        %input.form-control{:type => "text", :name => "peptide", :class => "text", :value => ""}
        %p
        %label{:for => "aboutme"} Protein
        %input.form-control{:type => "text", :name => "protein", :class => "text", :value => "", :class => "dataset_protein_input"}
        %p
        %label{:for => "aboutme"} Modification
        %input.form-control{:type => "text", :name => "mod", :class => "text", :value => "", :class => "dataset_mod_input"}
    %input.btn.btn-default{:type => "submit", :value => "View Peptides"} 

%form{:action => "/psms/aggregateview", :method => "get"}
    .form-group
        %label{:for => "name"} Peptide
        %input.form-control{:type => "text", :name => "peptide", :class => "text", :value => ""}
        %p
        %label{:for => "aboutme"} Protein
        %input.form-control{:type => "text", :name => "protein", :class => "text", :value => "", :class => "dataset_protein_input"}
        %p
        %label{:for => "aboutme"} Modification
        %input.form-control{:type => "text", :name => "mod", :class => "text", :value => "", :class => "dataset_mod_input"}
    %input.btn.btn-default{:type => "submit", :value => "View PSMs"} 



%form{:action => "/protein/aggregateview", :method => "get"}
    .form-group
        %label{:for => "name"} Peptide
        %input.form-control{:type => "text", :name => "peptide", :class => "text", :value => ""}
        %p
        %label{:for => "aboutme"} Protein
        %input.form-control{:type => "text", :name => "protein", :class => "text", :value => "", :class => "dataset_protein_input"}
        %p
        %label{:for => "aboutme"} Modification
        %input.form-control{:type => "text", :name => "mod", :class => "text", :value => "", :class => "dataset_mod_input"}
    %input.btn.btn-default{:type => "submit", :value => "View Proteins"} 


:javascript
    all_proteins = #{@all_proteins.to_json}
    all_modifications = #{@all_modifications.to_json}

    $(function() {
        $( ".dataset_mod_input" ).autocomplete({
          source: all_modifications
        });
        $( ".dataset_protein_input" ).autocomplete({
          source: all_proteins
        });
    });


