

%a.btn.btn-default.pull-right{:style=>"margin-left: 20px; margin-bottom: 20px", :href => "/peptide/aggregateview"} View Peptides
%a.btn.btn-default.pull-right{:style=>"margin-left: 20px; margin-bottom: 20px", :href => "/protein/aggregateview"} View Proteins
%a.btn.btn-default.pull-right{:style=>"margin-left: 20px; margin-bottom: 20px", :href => "/dataset/aggregateview"} View Datasets
%a.btn.btn-default.pull-right{:style=>"margin-left: 20px; margin-bottom: 20px", :href => "/psms/aggregateview"} View PSMs
%a.btn.btn-default.pull-right{:style=>"margin-left: 20px; margin-bottom: 20px", :href => "/modification/list"} View Modifications