%table.table.table-striped.table-condensed.tablesorter
    %thead
        %tr
            %th
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/peptide/list"} View Peptides
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/protein/list"} View Proteins
        %tr
            %td
                %a.btn.btn-default.pull-right{:style=>"margin-right: 20px; margin-bottom: 20px", :href => "/modification/list"} View Modifications